/MJ/spot
/MJ/dataset/Seoul
/MJ/dataset/Busan
/MJ/dataset/Daegu
/MJ/dataset/Daejeon
/MJ/dataset/Gwangju
/MJ/dataset/Jeju
/MJ/dataset/Ulsan
/MJ/dataset/Incheon
MJ/chromedriver.exe
MJ/util/db_connection.py
HM/dataset/db_connection.py
